header{
       background-color: green,
       font-size:100%;
}

	body {
		background : url('genius.jpg') no-repeat;
		background-size : 100%;
		font-family : Arial
		color : white;
	}

	/*div	{
		color : white;
		border : 10px 10px;
		padding : 5px 5px;
		margin : 10px 10px
	}*/
	ul	{
		margin : 0px;
		padding : 0px;
		list-style : none;
		color : white;
		font-weight: bold;
	
	}
	ul li {
		float : left;
		width : 200px;
		height : 40px;
		background-color : black;
		opacity : .8;
		line-height : 40px;
		text-align : center;
		font-size : 15px;
		margin-right : 2px;
	}
	ul li a {
		text-decoration : none;
		color : white;
		display : block;
	
	}
	
	ul li a:hover {
		background-color : green;
	
	}
	
	ul li ul li {
		display : none;
	
	}
	ul li:hover ul li {
		display : block;
	
	
	}
	
p	{
	  width: 500px;
  	height: 300px;
  	line-height: 300px;
  	background-size: cover;
  	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	}
